.people {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    @media screen and (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
    }
}